/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat, sans-serif';
}
.debug {
    border: 1px solid blue;
}

body{
  background-color: #1c1c1c;
}
.container-fluid{
  width: 100%;
  height: 100%;
}
.container{
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
a:hover{
  color: #0282f9;
}